@font-face {
  font-family: "Cyberpunk";
  font-display: swap;
  src: url("../fonts/Cyberpunk-Regular.woff") format("woff"), url("../fonts/Cyberpunk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Global */

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Blocks */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

main {
  display: block;
}

/* Paddings */

ul,
ol,
button {
  padding: 0;
}

/* Margins */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Text */

b,
strong {
  font-weight: bolder;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/* Settings */

ul[class],
ol[class] {
  list-style: none;
}

a {
  background-color: transparent;
  text-decoration: none;
}

/* For better adaptive */

img {
  display: block;
  max-width: 100%;
  border-style: none;
}

/* Is it useful? */

article > * + * {
  margin-top: 1em;
}

/* Forms */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type='search']:focus::-webkit-search-cancel-button {
  opacity: 0.5;
  pointer-events: all;
  -webkit-filter: invert(1);
          filter: invert(1);
}

[hidden] {
  display: none !important;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #1a1a1a;
}

body._lock {
  overflow: hidden;
}

body.using-mouse *:focus,
body.touch *:focus {
  outline: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  height: 50px;
  background-color: #a8a8a8;
  z-index: 900;
}

.contacts {
  position: relative;
  z-index: 1000;
  height: 100%;
}

.contacts__container {
  height: 100%;
}

.contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__heading {
  font-size: 25px;
  line-height: calc(30 / 25);
  color: #181818;
  font-weight: 600;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
}

.contacts__list-item {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contacts__list-item:not(:first-child) {
  margin-left: 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1000;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  position: relative;
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}

@-webkit-keyframes runline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-5000px + 100vw));
            transform: translateY(calc(-5000px + 100vw));
  }
}

@keyframes runline {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-5000px + 100vw));
            transform: translateY(calc(-5000px + 100vw));
  }
}

.runline-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 3px;
  height: calc(100vh);
  width: 3px;
  overflow: hidden;
}

.runline {
  width: 50px;
  height: 5000px;
  background: -webkit-gradient(linear, left bottom, left top, from(red), color-stop(16%, #ffab00), color-stop(33%, #70ff00), color-stop(49%, #00ffaf), color-stop(66%, #004ff6), color-stop(82%, #c400f9), to(red));
  background: -o-linear-gradient(bottom, red 0%, #ffab00 16%, #70ff00 33%, #00ffaf 49%, #004ff6 66%, #c400f9 82%, red 100%);
  background: linear-gradient(0deg, red 0%, #ffab00 16%, #70ff00 33%, #00ffaf 49%, #004ff6 66%, #c400f9 82%, red 100%);
  -webkit-animation: runline 30s infinite linear alternate;
          animation: runline 30s infinite linear alternate;
}

.works {
  margin-top: 50px;
  padding: 40px 0;
}

.works__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 50px;
}

.works__item {
  position: relative;
  overflow: hidden;
}

.works__item:hover .works__item-text {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.works__item-description {
  margin-top: 10px;
}

.works__item-link {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: calc(25 / 20);
  color: #e6e6e6;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.works__item-link:hover {
  -webkit-transform: translateX(35px);
      -ms-transform: translateX(35px);
          transform: translateX(35px);
}

.works__item-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  display: block;
  width: 12px;
  height: 12px;
  border: 12px solid transparent;
  border-left: 12px solid #e6e6e6;
}

.works__item-title {
  font-weight: 400;
}

.works__item-img {
  position: relative;
  padding: 0 0 70% 0;
}

.works__item-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works__item-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.55);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 17px;
  line-height: calc(22 / 17);
  color: #e6e6e6;
}

.footer {
  padding: 10px 0;
  margin-top: auto;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__copy {
  font-size: 19px;
  line-height: calc(25 / 19);
  color: #e6e6e6;
  text-align: center;
}

@media (min-width: 991px) {
  .contacts__list-item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}