.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding: 5px 0;
	height: $header-height;
	background-color: rgb(168, 168, 168);
	z-index: 900;
}

.contacts {
	position: relative;
	z-index: 1000;
	height: 100%;

	// .contacts__container

	&__container {
		height: 100%;
	}

	// .contacts__body

	&__body {
		display: flex;
		height: 100%;
		align-items: center;
	}

	// .contacts__heading

	&__heading {
		font-size: 25px;
		line-height: calc(30 / 25);
		color: $font-black;
		font-weight: 600;
	}

	// .contacts__list

	&__list {
		display: flex;
		margin-left: 20px;
	}

	// .contacts__list-item

	&__list-item {
		transition: all 0.3s ease;

		@media (min-width: 991px) {
			&:hover {
				transform: scale(1.1);
			}
		}

		&:not(:first-child) {
			margin-left: 15px;
		}
	}

	// .contacts__list-text

	&__list-text {
	}

	// .contacts__list-item-img

	&__list-item-img {
	}
}
